apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nodecg-bundles-pvc
  namespace: nodecg-next
  labels:
    app: nodecg-next
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nodecg-assets-pvc
  namespace: nodecg-next
  labels:
    app: nodecg-next
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
